.navbar{
    height: 25px;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars{
    // margin-left: 2rem;
    margin-right: 1rem;
    font-size: 2rem;
    background: none;
}


.nav-menu{
    background: #1D263F;
    width: 210px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: .5;
}

.nav-menu.nav-menu.active{
    left: 0;
    transition: 1s;
}